# This file is automatically updated by the echo.env extension
# https://marketplace.visualstudio.com/items?itemName=inci-august.echo-env

TELEGRAM_TOKEN=telegram_token
PLATERECOGNIZER_KEY=platerecognizer_key
NODE_ENV=node_env
